@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.skills-bar-container {
  position: absolute;
  /*height: 50%;*/
  width: 60%;
  min-width: 300px;
  margin-top: 275px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: absolute;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-lightroom {
  -webkit-animation-name: progress-lightroom;
  animation-name: progress-lightroom;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-premiere {
  -webkit-animation-name: progress-premiere;
  animation-name: progress-premiere;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-photoshop {
  -webkit-animation-name: progress-photoshop;
  animation-name: progress-photoshop;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-python {
  -webkit-animation-name: progress-python;
  animation-name: progress-python;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-ruby {
  -webkit-animation-name: progress-ruby;
  animation-name: progress-ruby;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.skills-bar-container li .bar-container #progress-frontend {
  -webkit-animation-name: progress-frontend;
  animation-name: progress-frontend;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 4.9s;
  animation-delay: 4.9s;
}

.progressred {
  background-color: #E02030;
}

.progressblue {
  background-color: #B4E1F5;
}

.progresspurple {
  background-color: #F676FF;
}

.progressorange {
  background-color: #FA6537;
}

.progressgreen {
  background-color: #008018;
}

.progressbrown {
  background-color: #7A533F;
}

.progresspsblue {
  background-color: #00D3FC;
}

@-webkit-keyframes progress-lightroom {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-premiere {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-webkit-keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes progress-ruby {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@-webkit-keyframes progress-frontend {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}
@-moz-keyframes progress-lightroom {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-premiere {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@-moz-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes progress-ruby {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@-moz-keyframes progress-frontend {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}
@keyframes progress-lightroom {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-premiere {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes progress-ruby {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes progress-frontend {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}