.footer {
  display: block;
  width: 100%;
  height: 15%;
  background-color: #111;
  text-align: center;
}

.container{
  color: #262721;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fa-facebook {
  color: #FAF9FE;
}

.fa-youtube-play {
  color: #FAF9FE;
}

.fa-linkedin {
  color: #FAF9FE;
}

.fa-github {
  color: #FAF9FE;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;