<!-- website/templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Max Alt Films</title>
    <!--    load static folder -->
    <link rel="stylesheet" type="text/css" href='{% static "index/css/index-style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "index/css/contact-form.css" %}'>
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/footer.css' %}">
    <!-- bootstrap stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <!-- Custom fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>   
        <a class="navbar-brand" href="#"><img src="{% static 'index/img/nav-brand.png' %}"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item about-link"> <a class="nav-link" href="#about-section">About</a> </li>
                <li class="nav-item photo-link"> <a class="nav-link" href="#photo-section">Photography</a> </li>
                <li class="nav-item film-link"> <a class="nav-link" href="#film-section">Film</a> </li>
                <li class="nav-item contact-link"> <a class="nav-link" href="#contact-section">Contact</a> </li>
                <!-- <li class="nav-item contact-link"> <a class="nav-link" href="/gallery/">Gallery</a> </li> -->
            </ul>
        </div>
    </nav>


    <!-- Intro Header -->
    <header class="masthead" style="padding-bottom: 30px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="intro-text-style">
                            <h1 class="brand-heading">Max Alt</h1>
                            <h3 class="intro-text"></h3>
                            <a href="#about-section" class="js-scroll-trigger"> <i style='font-size: 100px;color:#FAF9FE;'class="fa fa-angle-double-down animated"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="bottom-border"></div>

    <!-- About Section -->
    <section id="about-section" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <a href="#photo-section" class="js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                </div>
                <div class="text-center col">
                    <h2 class="section-title">ABOUT</h2>
                    <p>Professional Photographer, Filmmaker, and Programmer. Based in New York City.</p>
                    <p>This site is fully built from scratch with a python/django backend. I'm currently working on setting up an email form with python.</p>
                    <p>My main photo gallery is my Instagram, which you can preview below. I'm currently working on a gallery page to display all my work on this site, so stay tuned!</p>
                </div>
            </div>
        </div>
    </section>
    <div class="bottom-border"></div>

    <!-- Photo Section -->
    <section id="photo-section" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="text-center">
                        <a href="#film-section" class="js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                        <h2 class="section-title">Photography</h2>
                    </div>
                    <div class="text-center col">
                    <p>Most of my photos go up on Instagram, which you can preview below. Click on any image to go to view my full profile.</p>
                    </div>
                    <div class="col instagram-preview">
                        <!-- SnapWidget -->
                        <script src="https://snapwidget.com/js/snapwidget.js"></script>
                        <iframe src="https://snapwidget.com/embed/448982" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="bottom-border"></div>

    <!-- Film Section -->
    <section id="film-section" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="text-center">
                        <a href="#contact-section" class="js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                        <h2 class="section-title">FILM</h2>
                    </div>
                    <div id="temp">
                        <p>This is a short film I made recently. My intent with this was not to tell a story, but simply to test my abilities, and see what I could acomplish. I think it came out pretty great, but I'd love to hear your thoughts. Leave a comment on youbute, or send me an email below!</p>
                    </div>
                    <div class="youtube-video-iframe">
                        <iframe width="100%" height="150%" align="middle" src="https://www.youtube.com/embed/JfCsHiEg8Nk?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bottom-border"></div>


    <!-- Contact Section -->
    <section id="contact-section" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <a href="#" class="js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-up animated"></i> </a>
                    <h2 class="section-title">LETS TALK</h2>
                    <p>Thanks for looking through.</p>
                    <p>Any questions, comments, or other inquiries are always appreciated. </p>
                    <p>I'm currently working on setting up a proper email form, but feel free to click this button to send me an email</p>
                    <a href="mailto:maxaltfilms@gmail.com"><button type="button" class="btn btn-info">Click Me!</button></a>

            <!--         <p>If you'd like to get in touch fill out this form and I'll get back to you.</p> -->
                    <!-- www.123contactform.com script begins here -->
                    <!-- <script type="text/javascript" defer src="//www.123contactform.com/embed/3024692.js" data-role="form" data-default-width="650px"></script> -->
<!--                     <div class="contact-form">
                    <form class="cf">
                        <div class="half left cf">
                            <input type="text" id="input-name" placeholder="Name">
                            <input type="email" id="input-email" placeholder="Email address">
                            <input type="text" id="input-subject" placeholder="Subject">
                        </div>
                        <div class="half right cf">
                            <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
                        </div>  
                            <input type="submit" value="Submit" id="input-submit">
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

<div class="bottom-border"></div>

    <!-- Footer Section -->
    <!-- footer made by JPCR link : https://bootsnipp.com/snippets/k2nNB -->
        <!-- all credit goes to him, i just made some tweaks -->
        <div class="footer">
        
            <div class="container">
                  <a href='https://www.facebook.com/maxaltfilms'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                  <a href='https://www.youtube.com/channel/UCuO7ynQXNowE3DjekhSR2AQ'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
                  <a href='https://github.com/maalts'><i class="fa fa-github fa-2x fa-fw"></i></a>
                <a href='https://www.linkedin.com/in/max-a-3b526a105/'><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
            </div>
        </div>


    <!-- smooth scroll scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
    
    <!-- initiate which selector smooth scroll works for -->
    <script>
    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
        $(".navbar li").on("click", function(){
   $(".navbar").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
    </script>

</body>

</html>