<!-- website/templates/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Max Alt Films</title>
    <!--    load static folder -->{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/skills-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/footer.css' %}">
    <!-- bootstrap stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <!-- Custom fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>   
        <a class="navbar-brand" href="#"><img src="{% static 'index/img/nav-brand.png' %}"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item skills-link"> <a class="nav-link" href="#skills-section">Skills</a> </li>
                <li class="nav-item gallery-link"> <a class="nav-link" href="#gallery-section">Gallery</a> </li>
                <li class="nav-item contact-link"> <a class="nav-link" href="#contact-section">Contact</a> </li>
            </ul>
        </div>
    </nav>


    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="color: #f9f1e8;">
                        <div class="intro-text-style">
                            <h1 class="brand-heading">Max Alt</h1>
                            <h3 class="intro-text">Photographer, Filmmaker, Programmer</h3>
                        </div>
                        <a href="#skills-section" class="btn btn-circle js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Skills Section -->
    <section id="skills-section" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="text-center">
                        <a href="#gallery-section" class="btn btn-circle js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                        <h2 class="section-title">SKILLS</h2>
                    </div>
                    <div class="text-center col skills-section-text">
                    <p>After spending countless hours teaching myself Lightroom and Premiere Pro, I've achieved near mastery of both, yet there is still a lot to learn. My programming skills are slightly less advanced, although definetely not amatuer. This site is built with a python and django backend, and html, css, and javascript in the front end.</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Gallery Section -->
    <section id="gallery-section" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <a href="#contact-section" class="btn btn-circle js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-down animated"></i> </a>
                    <h2 class="section-title">GALLERY</h2>
                    
                    <div class="text-center col skills-section-text">
                    <p>Photography is a huge hobby of mine, and one that I put a lot of effort into. Most images go up on my instagram, below is a preview. Click here or on any one of the images to view my profile. I'm currently in the proccess of setting up a gallery site to put more photos on. Check back for that soon.</p>
                    </div>

                    <div class="col instagram-preview">
                        <!-- SnapWidget -->
                        <script src="https://snapwidget.com/js/snapwidget.js"></script>
                        <iframe src="https://snapwidget.com/embed/448982" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact-section" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <a href="#" class="btn btn-circle js-scroll-trigger"> <i style='font-size: 30px;'class="fa fa-angle-double-up animated"></i> </a>
                    <h2 class="section-title">LETS TALK!</h2>
                    <p>Congrats! You've made it all the way to the end of my website. Thanks for looking through.</p>
                    <p>Any questions, comments, or other inquiries are always appreciated. If you'd like to get in touch fill out this form and I'll get back to you.</p>
                    <!-- www.123contactform.com script begins here -->
                    <script type="text/javascript" defer src="//www.123contactform.com/embed/3024692.js" data-role="form" data-default-width="650px"></script>

                        <div class="footer">
        <!-- footer made by JPCR link : https://bootsnipp.com/snippets/k2nNB -->
        <!-- all credit goes to him, i just made some tweaks -->
      <div class="container">
              <a href='https://www.facebook.com/maxaltfilms'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='https://www.youtube.com/channel/UCuO7ynQXNowE3DjekhSR2AQ'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
              <a href='https://github.com/maalts'><i class="fa fa-github fa-3x fa-fw"></i></a>
              <a href='https://www.linkedin.com/in/max-a-3b526a105/'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
      </div>
    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- smooth scroll scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
    
    <!-- initiate which selector smooth scroll works for -->
    <script>
    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'index/js/skills-bar.js' %}"></script>
    <script>
        $(".navbar li").on("click", function(){
   $(".navbar").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
    </script>

</body>

</html>